.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .navigation {
        flex-wrap: wrap;
    }
}

.navigation__item {
    flex-direction: column;
    padding: 10px 60px;
}

@media (max-width: 767px) {
    .navigation__item {
        flex-grow: 1;
        flex-basis: 34%;
    }
}

@media (max-width: 500px) {
    .navigation__item {
        flex-grow: 1;
        flex-basis: 51%;
    }
}

.navigation__item:hover {
    background-color: #616060;
    border-style: none;
    border-radius: 10px;
}

.navigation__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}